.share{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   
}

.share-div{
      display: flex;
      justify-content: center;
      align-items: center;
}



.content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.form-update-story{
        display: flex;
        justify-content: center;
        align-items: center;
}
.update-btns{
         display: flex;
         justify-content: center;
}
.update-btns button{
         padding: 20px;
         margin: 20px;
}